.ibm-plex-sans-thai-thin {
    font-family: "IBM Plex Sans Thai", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .ibm-plex-sans-thai-extralight {
    font-family: "IBM Plex Sans Thai", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .ibm-plex-sans-thai-light {
    font-family: "IBM Plex Sans Thai", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ibm-plex-sans-thai-regular {
    font-family: "IBM Plex Sans Thai", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ibm-plex-sans-thai-medium {
    font-family: "IBM Plex Sans Thai", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ibm-plex-sans-thai-semibold {
    font-family: "IBM Plex Sans Thai", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .ibm-plex-sans-thai-bold {
    font-family: "IBM Plex Sans Thai", serif;
    font-weight: 700;
    font-style: normal;
  }
  
* {
    font-family: "IBM Plex Sans Thai", serif;
    font-weight: 400;
    font-style: normal;
}
input[type=text]:focus {
    border: 3px solid #3feabc;
    outline: none;
  }
input[type=textarea]:focus {
    border: 3px solid #00976f;
    outline: none;
  }
.hover:hover{
    background-color: aliceblue;
}
body {
    background-color: lightblue;
  }

